* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.keyboard-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .textarea{
    border: 2px solid gray;
    border-bottom: transparent;
    width: 922px;
    height:100px;
    font-size: 18px;
    font-weight: bold;
  }

  .keys-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 7px;
    border: 2px solid gray;
    width: 922px;

      .key{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        background-color: lightgrey;
        font-size: 18px;
        font-weight: bold;
        &:hover {
          box-shadow: -3px 6px 10px -8px rgba(34, 60, 80, 0.2);
          background-color:gray;
          color: white;
          transition: .3s;
        }
      }
      .key:nth-child(14){
        width: 157px;
      }
      .key:nth-child(15){
        width: 80px;
      }
      .key:nth-child(29){
        width: 70px;
      }
      .key:nth-child(30){
        width: 100px;
      }
      .key:nth-child(42){
        width: 164px;
      }
      .key:nth-child(43){
        width: 100px;
      }
      .key:nth-child(56){
        width: 107px;
      }
      .key:nth-child(60){
        width: 442px;
      }
  }

}